* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 920px;
  margin: 0 auto;
}

html {
  font-family: sans-serif;
}
/* body {
  background: #f5f1f1;
} */
.header {
  margin: -10px auto;
  background: #fff;
  padding: 20px 20px;
  box-shadow: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}
.header h3 {
  font-size: 1.5rem;
  margin-left: 10px;

  color: #5f6368;
}

form {
  position: relative;
  width: 600px;
  margin: 35px auto 50px auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 7px rgb(164, 148, 148);
  border-radius: 10px;
}
form input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin: 4px 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
}

form textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin: 4px 10px;
  font-size: 1rem;
  padding: 10px;
}
form button {
  position: absolute;
  background: rgb(189, 189, 13);
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #fff;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0px 10px rgb(106, 96, 96);
}
.note {
  background: #fff;
  width: 240px;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgb(164, 148, 148);
  padding: 5px 10px;
  float: left;
  margin: 16px;
}
.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
  padding: 5px;
}
.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  /* position: relative; */
  float: right;
  color: #f88651;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.toggle-dark {
  margin-left: 700px;
  color: rgb(201, 201, 52);
}

.bg-dark {
  background: black;
  height: 100vh;
}
.bg-dark-header{
  background:black;
}
